@import "tailwindcss";

@font-face {
  font-family: Estrella;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("../fonts/Estrella-Early.woff2") format("woff2");
}

@font-face {
  font-family: JakartaSans;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype");
}

@theme {
  --font-primary: "Estrella", serif;
  --font-secondary: "JakartaSans", sans-serif;
  --animate-typewriter: typewriter 2s steps(11) forwards;
  --animate-caret:
    typewriter 2s steps(11) forwards, blink 1s steps(11) infinite 2s;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  0.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.1% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
